@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


* {
  font-family: Metropolis;
  margin: 0;
  padding: 0;
  /* border:1px solid red; */
}

.navbar {
  position: relative;
  /* text-align: center; */
  padding-top: 1.75rem;
padding-bottom: 1.75rem;
  display:flex;
  flex-wrap: wrap;
  
}
.nav-main{
  padding-right: 2.5rem !important;
padding-left: 2.5rem !important;
}
.navbar > .container{
  display: flex;
flex-wrap: inherit;
align-items: center;
justify-content: space-around;
}
.navbar-brand {
  /* padding-left: 30px; */
  font-size: 1.2rem;
  font-weight: bold;
}

.arrow-img {
  height: 3px;
  width: 5px;
}

.navbar-nav {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.navbar .dropdown-menu-landing {
  min-width: 0;
  font-size: 0.9rem;

}

.navbar .dropdown-menu-page {
  font-size: 0.9rem;

}

/* .navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  list-style: none;
} */

.dropdown-menu-landing {
  font-size: 1rem;
  color: #69707a;
  text-align: left;
  list-style: none;
  height: 478px;
  width: 700px;
  /* z-index: 1; */
}
.overlay{
  background-image: url("images/cover-img.jpg");
  position: relative;
}
.bg-img-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay-70::before {
  opacity: 0.7;
}
.overlay-primary::before {
  background-color: #0061f2 !important;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dropdown-menu-page {
  transform: translateX(-400px);

  font-size: 1rem;
  color: #69707a;
  text-align: left;
  list-style: none;
  height: 440px;
  width: 700px;
  z-index: 2;
}

.dropdown-menu-document {
  transform: translateX(-250px);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1rem;
  color: #69707a;
  text-align: left;
  list-style: none;
  height: 220px;
  width: 300px;
  /* right: 0; */
  z-index: 2;
}


.navbar .dropdown-menu-landing .dropdown-header {
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-size: 20;
}

.navbar .dropdown-menu-page .dropdown-header {
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-size: 20;
}

.navbar .dropdown-menu-document .dropdown-header {
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-size: 20;
}

.dropdown-item {
  background-color: transparent;
}

.dropdown-item:hover {
  color: #69707a;
  background-color: transparent;
}

.landing-box {
  border: none;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  border-radius: 4px;
  line-height: 20px;
  font-family: Metropolis, sans-serif;
  overflow: hidden;
  font-weight: 400;
}

.right-side {
  text-align: left;
}

.buy-button:hover {
  background-color: #0061f2;
}

.badge {
  background-color: #9fa2a5;
}

.page-box {
  border: none;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  border-radius: 4px;
  line-height: 20px;
  font-family: Metropolis, sans-serif;
  overflow: hidden;
  font-weight: 400;
}

.icon-stack-doc svg {
  height: 1rem;
  width: 1rem;
}

.icon-stack svg {
  height: 1rem;
  width: 1rem;
}

.icon-stack {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  /* background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%); */
  flex-shrink: 0;
}

.document-section {
  padding: 10px;
  display: inline-flex;
  color: black;
  text-decoration: none;
  width: 100%;
}

.document-section:hover {
  background-color: #e0e5ec;
}

.text-black {
  font-size: 12px;
}

.small-document {
  font-size: 12px;
}

.icon-stack-doc {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  background-color: #dae7fb;
  flex-shrink: 0;
}

.text-gray-500 {
  color: #a7aeb8 !important;
  text-decoration: none;
}

.custom-banner {
  margin-top:0.1rem;
  height: 100%;
  width: 100%;
  padding: 112px 0px 0px 0px;
  display: flex;
  justify-content: center;
  background-color: #0061f2 !important;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}

.banner {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.end-border-wave{
  transform: translateY(-91px);
}
.waves-effect {
  transform: translateY(-40px);
}
@media screen and (min-width:320px) {
  .waves-effect {
    transform: translateY(-18px);
  }
  .end-border-wave {
    transform: translateY(-66px);
  }
  .frame-img {
    position: absolute;
    width: 250px;
    height: 420px;
    left: -4px;
    top: 0;
  }
  .phone-img {
    width: 250px;
    height: 375px;
    border-radius: 8px;
    z-index: 1;
  }
  .background-img{
    width: 240px;
    height: 420px;
    border-radius: 50px;
  }
}
@media screen and (min-width:1078px) {
  .waves-effect {
    transform: translateY(-37px);
  }
  .end-border-wave {
    transform: translateY(-80px);
  }
  .bg-img-cover {
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    display: none;
  }
}
/* .phone-img {
  width: 290px;
  height: 549px;
  border-radius: 38px;
  z-index: 9999999;
} 
 .background-img {
   width: 100px; 
   height: 75px;
   border-radius: 50px;
}

 .frame-img {
  position: absolute;
  width: 303px;
  height: 550px;
  left: -4px;
  top: 0;
}  */

.left-side-text {
  /* width: 594px; */
  padding: 90px 0px 0px 0px;
}

.left-side-text h1 {
  color: white;
}

.left-side-text p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  font-size: 1.15rem;
  font-weight: 400;
}

.custom-banner .small-font {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  font-weight: 400;
}

.icon-stack-xl svg {
  height: 1.75rem;
  width: 1.75rem;
}

.icon-stack-xl {
  height: 5rem;
  width: 5rem;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}

.three-div-section {
  padding-top: 100px;
}

.heading {
  font-size: 1.3rem;
}

.para {
  text-align: center;
  color: #69707a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.google {
  color: #a7aeb8;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 7px;
}

.google-para {
  font-size: 23px;
}

.insta {
  font-weight: 100;
  font-size: 50px;
  color: #a7aeb8;
  /* font-family: 'Cookie', cursive; */
  font-family: 'Lobster Two', cursive;
}

.insta-para {
  font-size: 23px;
}

.small-bold {
  color: #5b6169;
  font-size: medium;
  font-weight: 700;
}

.small-text {
  font-weight: 100;
  color: #5b6169;
}

.google-insta {

  margin-top: 80px;
}

@media screen and (min-width: 992px) {
    .center-line {
      border-right: 1px solid #a7aeb8;
    }
}

.application {
  text-align: center;
  position: relative;
  color: #a7aeb8;
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.text-xs {
  font-weight: 600;
  font-size: small;
}

.text-xc {
  font-size: 24px;
  text-align: center;
}

.centeral-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.icon-stack-gg svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #00ac69;
}

.icon-stack-gg {
  background-color: #daefed;
  height: 70px;
  width: 70px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* word-wrap: break-word; */
  background-color: #fff;
  /* background-clip: border-box; */
  border: 1px solid #daefed;
  border-radius: 0.35rem;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.card-text {
  font-size: 0.875em;
  color: #5b6169;
}

.card:hover {
  position: relative;
  bottom: 4px;
  transition: transform 0s;
  color: inherit;
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.icon-stack-rg svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #e81500;
}

.icon-stack-rg {
  background-color: #f1e0e3;
  height: 70px;
  width: 70px;
}

.icon-stack-yg svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #f4a100;
}

.icon-stack-yg {
  background-color: #f1e0e3;
  height: 70px;
  width: 70px;
}

.icon-stack-pg svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #6900c7;
}

.icon-stack-pg {
  background-color: #e4ddf7;
  height: 70px;
  width: 70px;
}

.icon-stack-bg svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #0061f2;
}

.icon-stack-bg {
  background-color: #dae7fb;
  height: 70px;
  width: 70px;
}

.icon-stack-og svg {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #f76400;
}

.icon-stack-og {
  background-color: #f3e7e3;
  height: 70px;
  width: 70px;
}

.two-div-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 110px 50px;
}

@media screen and (min-width:320px) {
  .two-img {
    text-align:left;
  }
}

/* .two-img {
  text-align: right;
} */

.footer {
  padding: 50px;
}

.footer-brand {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.footer-text {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}

.svg-inline--fa-gray {
  color: rgba(255, 255, 255, 0.6);
  /* display: inline-block; */
  height: 1.5em;
  overflow: visible;
  vertical-align: -0.125em;
}

.text-xs {
  color: rgba(255, 255, 255, 0.6);
}

.link-list li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.link-list li a:hover {
  text-decoration: underline;
}

.small {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 35px;
}

.small a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875em;
  font-weight: 400;
  text-decoration: none;
}

.small a:hover {
  text-decoration: underline;
}

.footer-line {
  color: rgba(255, 255, 255, 0.6);
}